#  ___ ___ ___ ___ ___ ___
# |   | .'|   | . |  _|  _|
# |_|_|__,|_|_|___|_| |___|
#
# This is ale's ~/.nanorc (for +5.5)

include /usr/share/nano/*.nanorc

## UI Style ##

set errorcolor bold,white,magenta
set functioncolor italic,white
set keycolor bold,magenta
set numbercolor bold,black
set promptcolor bold,white,magenta
set scrollercolor lightblack
set selectedcolor lightwhite,magenta
set spotlightcolor lightwhite,magenta
set statuscolor bold,magenta
set titlecolor bold,white,black

## Options ##

set afterends
set atblanks
set autoindent
set casesensitive
set historylog
set indicator
set linenumbers
set locking
#set mouse		# Useful on smartphones
set multibuffer
#set nohelp
#set nonewlines
set positionlog
set regexp
set smarthome
set softwrap
#set suspendable		# FIXME: rebind suspend as ^Z is undo
set tabsize 2
set zap

## Key mappings ##

bind M-H help main
bind ^Q exit main
bind ^S savefile main
bind ^W writeout main
bind ^O insert main
bind ^F whereis main
bind ^R replace main
bind ^K cut main		# For now I'll keep ^X as the secondary exit key
bind ^V paste main
bind ^E execute main

# TODO: ^J

bind ^C copy main
