include /usr/share/nano/*.nanorc

set afterends
set autoindent
set casesensitive
set historylog
set linenumbers
#set mouse
set multibuffer
#set nohelp
#set nonewlines
set positionlog
set regexp
set smarthome
set softwrap
#set suspendable
set tabsize 2
set zap
